body{
    display: flex;
    flex-direction: column;
}
.header{
   display: flex;
    background-color: #1f2937;
    padding: 16px 100px;
}
ul{
    list-style-type: none;
    display: flex;
    
}
.links-list{
    margin-left:auto;
    gap: 16px;
}
.logo-text{
    font-size: 24px;
    color: #f9faf8;
}
.link{
    font-size: 18px;
    color: #e5e7eb;
}