body{
    display: flex;
    flex-direction: column;
}
.header{
   display: flex;
    background-color: #1f2937;
    padding: 16px 100px;
}
ul{
    list-style-type: none;
    display: flex;
    
}
.links-list{
    margin-left:auto;
    gap: 16px;
}
.logo-text{
    font-size: 24px;
    color: #f9faf8;
}
.link{
    font-size: 18px;
    color: #e5e7eb;
}
.seconed-section{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 50px 100px;
    gap: 30%;

}
.seconed-section .image{
    background-color: lightgray; 
    flex :1;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.seconed-section .text{
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    width: 400px;
    gap: 10px;
}
.seconed-section .bold-text{
    font-size: 48px;
}
.seconed-section .sub-text{
    color: #e5e7eb;
    font-size: 18px;
}
.seconed-section .text .sign-up{
    background-color: #3882f6;
    width: 25%;
    padding: 10px;
    align-self: flex-start;
    border-radius: 10px;
    border: 0;
}